<!%@ page contentType="text/html; charset=UTF-8" %>
<!DOCTYPE html>
<html>
<!%@include file="common/head.jsp" %>
<body>
    <!%@include file="common/header.jsp" %>
    <div class="available-field">
        <div class="content-container">
            <div class="page-header">Авторизация</div>
                <form method="post" action="/login.jsp" novalidate="" id="signin-form">
                    <div class="auth-box">
                        <input class="input" type="text" name="username" autocapitalize="none" autocorrect="off" autocomplete="username" required="" minlength="3" maxlength="60" placeholder="Логин" tabindex="0">
                    
                        <div class="auth-field">
                            <div class="input-box">
                                <input class="input" type="password" name="password" autocomplete="password" required="" minlength="3" maxlength="160" placeholder="Пароль" tabindex="0">
                            </div>
                        </div>
                
                        <div class="auth-field">
                            <button type="submit" title="Войти">Войти</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
<%@include file="common/footer.jsp" >
</body>
</html>