<html>
    <head>
        
    </head>
    <%@include file="head.jsp" %>
<body class="background">
    <div class="main-tile" id="main-tile">
        <h3 class="page-caption" id="page-caption">
            Информация о пользователе &nbsp;
        </h3>
    </div>    
</body>
</html>